
@import
url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

@media print {
body {
    width: 21cm;
    height: 29.7cm;
    margin: 30mm 45mm 30mm 45mm; 
}
.container {
    width: 100%;
    border: none;
}
}

@page {
size: 7in 9.25in;
margin: 27mm 16mm 27mm 16mm;
}

* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

:root {
--primary-color: #000000;
--secondary-color:  #1a1a1a;
--text-color: #2c2c2c;
}

html {
font-size: 13px;
}

body {
font-family: Lato, sans-serif;
margin: 0;
padding: 0;
background-color: #ffffff;
}

img {
width: 100%;
}

a {
text-decoration: none;
color: #000000;
}

p {
color: var(--text-color);
margin-top: 1rem;
margin-bottom: 1rem;
font-weight: 400;  
}

h1 {
color: var(--primary-color);
text-transform: uppercase;
}

h2 {
margin-top: 15px;
}

.description {
margin-top: 20px;
font-weight: 400;
color: var(--text-color);
}


.container {
max-width: 1000px;
width: 90%;
margin: auto;
display: grid;
margin-top: 1rem;
margin-bottom: 1rem;
padding: 3rem;
background: #ffffff;
grid-template-columns: 1fr 1fr;
gap: 1rem 8rem;
}

@media only screen and (max-width: 768px) {

.container {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 3rem;
    gap: 7rem;
}

}

.profile {
grid-column: 1 / -1;
margin-bottom: 2rem;
}

.group1 {
display: flex;
flex-direction: column;
gap: 2rem;
}

.profileContainer {
display: flex;
gap: 2rem
}

.profileImgContainer {
max-width: 250px;
margin-right: 20px;
}

.profilePicture {
border-radius: 0 50%;
box-shadow: 
rgba(0, 0, 0, 0.4) -5px 5px,
rgba(0, 0, 0, 0.3) -10px 10px,
rgba(0, 0, 0, 0.2) -15px 15px,
rgba(0, 0, 0, 0.1) -20px 20px,
rgba(0, 0, 0, 0.05) -25px 25px;
}


.profileNameFirstName {
font-size: 2rem;
font-weight: 300;
text-transform: uppercase;
display: block;
margin-bottom: -0.8rem;
}

.profileNameLastName {
font-size: 5rem;
font-weight: 700;
text-transform: uppercase;
display: block;
}

.profileTitle {
font-size: 2rem;
font-weight: 400;
text-transform: uppercase;
color: var(--secondary-color); 
}

.accentLetter {
color: #BC264B;
}


li {
margin-top: 5px;
}

.skillList {
margin-top: 1rem;;
margin-left: 1rem;
}

.contact {
display: grid;
grid-template-columns: 1fr;
}

.contact-info {
display: grid;
grid-template-columns: auto 1fr;
gap: 10px;
align-items: center;
}

.icon {
width: 30px;
margin-right: 15px;
opacity: 1;
transition: .5s;
}

.iconProfileName {
display: flex;
text-align: center;
margin-top: 5px;
}


.responsibilities {
margin-left: 15px;
}

.group2 {
    padding-top: 50px;
}

.experienceHeader {
margin-top: 70px;
}

.footer {
width: 100%;
max-width: 1000px;
margin: 0 auto;
margin-top: 100px;
padding: 20px;
text-align: center;
}

.links {
display: flex;
justify-content: center;
margin-bottom: 10px;
}

.iconLink {
display: flex;
align-items: center;
margin-right: 20px;
text-decoration: none;
color: #333;
}

.iconLink img {
width: 30px;
height: 30px;
margin-right: 5px;
}

.footer-content {
text-align: center;
margin-top: 2rem;
}

hr {
width: 80%;
margin: 0 auto;
margin-top: 1rem;
border: none;
border-top: 1px solid rgb(128, 128, 128);
}



@media only screen and (max-width: 768px) {

.container {
margin: 20px;
padding: 8rem;
box-shadow: 0px 0px 10px 1px #5c5c5c;;
}

.profile {
margin-bottom: 0;
}

.profileImgContainer {
margin-top: 30px;
text-align: center;
margin-right: 0;
max-width: 100%;
}

.profilePicture {
max-width: 60%;
}

.profileContainer {
flex-direction: column;
}
.profile, .group1, .group2, .footer {
width: 100%;
}
.container {
flex-direction: column;
}
hr {
margin: 0 auto;
}
}
