
@import
url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #75B2A2;
  --secondary-color:  #fdf0e5;
  --text-color: #F1E2DF;
}

html {
  font-size: 10px;
}

body {
  font-family: Lato, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #BC264B;
}


/* common styles */
img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #FDE12D;
}

p {
  color: var(--text-color);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 400;  
}

h1 {
  color: var(--primary-color);
  text-transform: uppercase;
}

h2 {
  margin-top: 15px;
}

.description {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text-color);
}

.container {
  max-width: 1000px;
  width: 90%;
  margin: auto;
  display: grid;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 7rem;
  background: #486d5b;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 1px #FDE12D;;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 3rem;
    gap: 7rem;
  }

}

.profile {
  grid-column: 1 / -1;
  margin-bottom: 2rem;
}

.group1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.group3 {
  display: grid;
  grid-column: 1 / -1;
  margin-bottom: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-items: center;
}

.profileContainer {
  display: flex;
  gap: 2rem
}

.profileImgContainer {
  max-width: 250px;
  margin-right: 20px;
}

.profilePicture {
  border-radius: 0 50%;
  box-shadow: -3px 0px 5px #BC264B;
}

.profileNameFirstName {
  color: white;
  font-weight: 100;
  font-size: clamp(0.5rem, 7vw, 4rem);
  text-transform: uppercase;
  display: block;
  margin-bottom: -0.8rem;
}

.profileNameLastName {
  color: var(--primary-color);
  font-weight: 700;
  font-size: clamp(0.5rem, 13vw, 7rem);
  text-transform: uppercase;
  display: block;
}

.profileTitle {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--secondary-color); 
}

.downloadBtn {
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.6rem;
  margin-top: 8rem;
  padding: 10px 15px;
  border: none;
  border-radius: 7px;
  background-color: #FDE12D;
  margin: 20px;
  transition: 
    opacity 1s,
    color 1s,
    background-color 0.5s;
}

.downloadBtn:hover {
  background-color: #242424;
  color: #FDE12D;
  opacity: 0.6;
}

li {
  margin-top: 5px;
}

.skillList {
  margin-top: 1rem;;
  margin-left: 3rem;
}

.contact {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.contact-info {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  align-items: center;
}

.icon {
  width: 30px;
  margin: 15px;  
  filter: invert(100%) saturate(50) hue-rotate(360deg);
  opacity: 1;
  transition: .5s;
}

a> .icon:hover {
  opacity: .3;

}

.iconProfileName {
  font-size: 15px;
  opacity: 0.3;
  display: block;
  text-align: center;
  margin-top: 5px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  font-size: 11px;
  visibility: hidden;
  background-color: rgb(188, 125, 37);
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 3px 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -15px;
  z-index: 1;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  background-color: rgb(253, 125225, 45, 0.5);;
}


.responsibilities {
  margin-left: 15px;
}

.footer {
  color:#87BBA2;
  grid-column: 1 / -1;
  margin-bottom: 2rem;
}

hr {
  grid-column: 1 / -1;
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
  border: none;
  border-top: 2px solid rgba(128, 128, 128, 0.5);
}


/* responsiveness */

@media only screen and (max-width: 768px) {
  
  .container {
    margin: 20px;
    padding: 8rem;
    box-shadow: 0px 0px 10px 1px #5c5c5c;;
  }
  
  .profile {
    margin-bottom: 0;
  }

  .profileImgContainer {
    margin-top: 30px;
    text-align: center;
    margin-right: 0;
    max-width: 100%;
  }

  .profilePicture {
    max-width: 60%;
  }

  .profileContainer {
    flex-direction: column;
  }
  .profile, .group1, .group2, .group3, .footer {
    width: 100%;
  }
  .container {
    flex-direction: column;
  }
  hr {
    margin: 0 auto;
  }
}